.body{
    background-color: #376F70;
}
.header{
    background-color: #C35942;
}
.footer{
    background-color: #C35942;
}
.cart{
  position: fixed;
  background-color: #5CDB94;
}
.bg-card{
    background-color: lightsteelblue;
}
.icon{
    color: orange;
}